@import '@elastic/eui/src/components/header/variables';
@import '@elastic/eui/src/components/nav_drawer/variables';

.chrHeaderWrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.chrHeaderWrapper ~ .app-wrapper:not(.hidden-chrome) {
  top: $euiHeaderChildSize;
  left: $euiHeaderChildSize;

  // HOTFIX: Temporary fix for flyouts not inside portals
  // SASSTODO: Find an actual solution
  .euiFlyout {
    top: $euiHeaderChildSize;
    height: calc(100% - #{$euiHeaderChildSize});
  }
}

.chrHeaderHelpMenu__version {
  text-transform: none;
}

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}

// Mobile header is smaller
@include euiBreakpoint('xs', 's') {
  .chrHeaderWrapper ~ .app-wrapper:not(.hidden-chrome) {
    left: 0;
  }
}

@include euiBreakpoint('xl') {
  .chrHeaderWrapper--navIsLocked {
    ~ .app-wrapper:not(.hidden-chrome) {
      // Shrink the content from the left so it's no longer overlapped by the nav drawer (ALWAYS)
      left: $euiNavDrawerWidthExpanded !important; // sass-lint:disable-line no-important
      transition: left $euiAnimSpeedFast $euiAnimSlightResistance;
    }
  }
}

/* CHANGE! */
.euiHeaderLogo {
  width: 200px;
  padding: 0px;
  background-color: #ffffff;
}

.euiIcon--large {
  width: 200px;
  height: 40px;
  top: 0px;
}
$navbackgroundcolor:#1b5194; 
.euiHeaderBreadcrumbs {
  background-color: $navbackgroundcolor;
  color: #ffffff;
  margin:0;
  padding-left: 10px;
}

$sideNavColor: #407cb3;

header > .euiNavDrawer {
  background-color: $sideNavColor;
  color: #ffffff;
}

nav .euiNavDrawer__expandButton {
  background-color: transparent;
  color: #ffffff;
}


header {
  & .euiIcon--app {
    fill: #ebf1f7;
    & .euiIcon__fillSecondary {
      fill: #264a6b;
    }
  }
  .euiHeaderSection.powered-by {
    display: flex;
    flex-flow: row;
    align-items: center;
    & > div{
      font-size: 12px;
      margin-right:15px;
    }
    & > img {
      height: 20px;
    }
  }
  

  & .euiHeaderSection{
    background-color: $navbackgroundcolor;
    color: #ffffff;
  }
  & .euiListGroupItem {
    background-color: $sideNavColor;
    &.euiListGroupItem-isActive,
    &.euiListGroupItem-isClickable:hover {
      background-color: tintOrShade($sideNavColor, 30%, 30%);
    }

    &.euiListGroupItem-isClickable .euiListGroupItem__button:focus {
      background-color: tintOrShade($sideNavColor, 30%, 30%);
      text-decoration: underline;
    }
  }
  .euiListGroupItem-isActive {
    background-color: transparent;
  }

  & .euiListGroup .euiNavDrawer__expandButton {
    background-color: $sideNavColor;
  }
  & .euiButtonIcon--text {
    color: #ffffff;
  }
  & .euiLink.euiLink--text{
    color: #ffffff;
  }

  & .euiListGroupItem__extraAction {
    opacity: 1;
    margin-right: $euiSizeS;
    transition: opacity $euiAnimSpeedFast;
  
    .euiListGroupItem:not(.euiListGroupItem-isDisabled):focus &,
    .euiListGroupItem:not(.euiListGroupItem-isDisabled):hover &,
    &.euiListGroupItem__extraAction-alwaysShow,
    &:focus {
      opacity: 1;
    }
  }
    & .euiLink.euiLink--subdued {
      color:#ebf1f7;

      &:hover {
        color: darken(#ebf1f7, 10%);
      }

      &:focus {
        outline: solid 3px transparentize(#ebf1f7, .9);
        background-color: transparentize(#ebf1f7, .9);
      }
    }
}
